.main{
    width: 1250px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    position: relative;
    overflow: hidden;
    /* border: 3px solid rgb(45, 45, 45); */
}
.nav{
    width: 100%;
    height: 40px;
    display: flex;
    z-index: 100;
    background-color: #373737;
    position: relative;
    z-index: 1000000;
    /* background-color: rgb(40, 40, 40); */
}
.nav-logo{
    /* position: absolute; */
    left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 5px;
    box-sizing: border-box;
}
.nav-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-title{
    /* position: absolute; */
    left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding-left: 5px;
    color: white;
    flex: 1;
}
.nav-bottom{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
.nav-control{
    display: flex;
    /* flex: 1; */
    width: auto;
    height: 100%;
    justify-content: flex-end;
}
.nav-dragable{
    width: 100%;
    height: 100%;
    -webkit-app-region: 'drag';
}
.control-btn{
    width: 50px;
    height: 100%;
    overflow: hidden;
    transition: all ease 0.1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    cursor: url(../image/cursor_mini.png),default;
    /* background-color: #d30000; */
}
.control-btn:hover{
    background-color: #5b5b5b;
}
.btn-danger:hover{
    background-color: #ff1100;
}
.body{
    flex: 1;
    width: 100%;
    min-width: 1000px;
    display: flex;
}
.body-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.body-main-top{
    display: flex;
    width: 100%;
    flex: 1;
}
.body-main-bottom{
    width: 100%;
    height: 20px;
    /* background-color: #1c1c1c; */
    box-sizing: border-box;
    padding: 0 10px;
}
.bottom-bg{
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 100%;
    filter: blur(2.5px) brightness(0.7) !important;
    /* backdrop-filter: blur(14px) saturate(150%); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.bottom-bg0{
    background-image: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/dedf83f6-5313-4b83-bc49-2570d321e89c.webp), url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/c3e29bb5-d5a0-4799-a544-264e310356aa.jpg);
}
.bottom-bg1{
    background-image:url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/151d0d95-b330-4ca8-9de7-d0336aed9872.webp), url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/7dcebe46-805b-44b7-a96f-728dc9a2dbc5.jpg);
}
.bottom-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* class="arco-carousel-indicator-wrapper arco-carousel-indicator-wrapper-bottom" */
.arco-carousel-indicator-wrapper{
    height: 20px !important;
    display: none;
    width: 100%;
    background-color: #474747da !important;
}
.arco-carousel-indicator{
    bottom: 7px !important;
}
.arco-carousel-indicator-item{
    margin-right: 5px !important;
}
.arco-carousel-card{
    overflow: visible !important;
}
.left{
    position: relative;
    width: 800px;
    height: 100%;
}
.right{
    flex: 1;
    /* min-width: 300px; */
    position: relative;
}
.right-nav{
    width: 80px;
    min-width: 50px;
    height: 100%;
    position: relative;
    background-color: rgba(79, 79, 79, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
    color: rgb(222, 222, 222) !important;
}
.logo{
    position: absolute;
    top: 10px;
    left: 40px;
    width: 180px;
    height: 90px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-main{
    position: absolute;
    top: 125px;
    left: 165px;
    width: 400px;
    height: 205px;
    border-radius: 5px;
    /* overflow: hidden; */
    background-color: #0052881d;
    /* overflow: hidden; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-img{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}
.arco-spin-loading{
    height: 90%;
}
.arco-spin{
    height: 100% !important;
}
.arco-spin-children{
    height: 100% !important;
}
.arco-carousel{
    height: 100% !important;
}
.arco-spin-tip{
    color: white !important;
}
.arco-drawer{
    height: 95% !important;
}
.tips{
    width: 590px;
    /* height: 230px; */
    position: absolute;
    bottom: 35px;
    left: 70px;
    border-radius: 5px;
    background-color: rgba(45, 45, 45, 0.805);
}
.arco-tabs-header-title{
    color: white !important;
}
.arco-tabs-header-title-active{
    color: #ffca0a !important;
}
.arco-tabs-header-ink{
    background-color: #ffca0a !important;
}
.arco-tabs-header-wrapper{
    background-color: rgba(54, 54, 54, 0.831) !important;
}
.arco-tabs-content{
    overflow-y: scroll;
}
.arco-list-item{
    border: 0px !important;
    /* cursor: pointer; */
    cursor: url(../image/cursor_mini.png),default;
    transition: all ease 0.3s;
}
.arco-list-item:hover{
    background-color: rgba(29, 29, 29, 0.347);
}
.arco-list-item-content{
    /* color: white !important; */
    font-size: 15px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.arco-list{
    border: none !important;
}
.arco-tabs-header-title-text{
    cursor: url(../image/cursor_mini.png),default;
}
.arco-drawer-header-title{
    font-size: 20px !important;
}
.arco-collapse-item-header{
    background-color: #4b4b4b !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.arco-collapse-item-content-box{
    font-size: 17px !important;
    padding: 10px 20px !important;
    max-height: 500px;
    overflow: scroll;
    width: 100%;
    word-break: break-all;
    box-sizing: border-box;
    user-select: text;
}
.arco-progress-line-outer{
    height: 8px !important;
}
.arco-notification-wrapper{
    /* position: relative; */
    top: 40px !important;
    right: 50px !important;
}
.tabPane{
    height: 190px;
    font-size: 20px;
    overflow: scroll;
}
.btn-group{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    /* height: 220px; */
    /* right: 10px;
    bottom: 0px; */
}
.op-btn{
    position: absolute;
    /* bottom: 40px; */
    right: 50px;
    border-radius: 5px;
    overflow: hidden;
    /* border-radius: 5px; */
}
.del-btn{
    left: 50px;
}
.subata-btn{
    position: absolute;
    /* bottom: 125px; */
    left: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.openGame{
    /* width: 100px;
    height: 40px !important; */
    /* font-size: 25px !important; */
    color: rgb(255, 255, 255) !important;
    transition: all ease 0.3s;
    box-shadow: #2c2c2c 5px !important;
    /* border: 1px solid rgb(108, 108, 108) !important; */
}
/* .openGame:hover{
    font-size: 35px !important;
} */
.icon-container{
    width: 100%;
    height: 50px;
    overflow: hidden;
    /* cursor: pointer; */
    cursor: url(../image/cursor_mini.png),default;
    -webkit-user-drag: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
}
.icon-container:hover{
    background-color: #a1a1a152;
}
.icon{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 4px;
    transition: all ease 0.4s;
    -webkit-user-drag: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-content{
    font-size: 13px;
    writing-mode: vertical-lr;
}
/* .icon:hover{
    background-color: rgb(50, 50, 50);
    transform:scale(1.1);
    background-color: #373737;
    border-radius: 50%;
    color: #ffffff !important;
} */
.icon-child{
    width: 100% !important; 
    height: 100% !important;
}
.zf-img{
    height: 600px;
    width: 400px;
    object-fit: cover;
}
.kf-img{
    /* height: 200px; */
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.kf-container-col{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.kf-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login-right{
    width: 100%;
    height: 100%;
    /* background-color: #486e8fae; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding-top: 30px; */
}
.subata-right-btn{
    width: 200px;
    height: 80px;
    border-radius: 5px;
}
.right-openGame{
    width: 240px;
    height: 70px !important;
    font-size: 23px !important;
    border-radius: 8px !important;
    box-shadow: 0 6px 15px 0px rgb(63, 63, 63);
}
.subata-right-op{
    font-size: 20px !important;
}
.right-btn-group{
    position: absolute;
    bottom: 25px;
    right: 90px;
}
.autoItem{
    padding:'5px 10px';
    width: 95%;
    position: relative;
    left: 2.5%;
    background-color:'';
    /* cursor: pointer; */
    cursor: url(../image/cursor_mini.png),default;
}
/* .autoItem:hover{
    background-color: #4b4b4b;
} */
.autoItem-col{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-modal{
    /* background-color: #00000000 !important; */
    position: relative;
    background-color: #00528800 !important;
}
.login-modal-bg{
    position: absolute;
    width: 110%;
    height: 115%;
    background: url(../image/login-bg.webp);
    /* background: url(../image/); */
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
    /* background-position: -90px; */
    
    border-radius: 10px;
}
.online-count{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.online{
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background-color: rgb(0, 208, 0);
    filter: brightness(1.4);
}
.online-text{
    padding-left: 7px;
    color: rgb(185, 255, 199);
}
.arco-modal-mask{
    width: 1250px !important;
    height: 700px !important;
    left: auto !important;
    margin-top: 2px;
    border-radius: 10px;
}
.arco-modal-wrapper{
    width: 1250px !important;
    height: 700px !important;
    top: 15px !important;
    left: auto !important;
    /* border-radius: 10px; */
}