.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffffda;
    /* border: 3px solid rgb(45, 45, 45); */
}
.nav{
    width: 100%;
    height: 40px;
    display: flex;
    z-index: 100;
    background-color: #de3028;
    position: relative;
    z-index: 1000000;
    /* background-color: rgb(40, 40, 40); */
}
.nav-logo{
    /* position: absolute; */
    margin-left: 10px;
    margin-top: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    /* padding: 5px; */
    box-sizing: border-box;
}
.nav-logo img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.nav-title{
    /* position: absolute; */
    margin-left: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding-left: 5px;
    color: white;
    flex: 1;
}
.nav-bottom{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
.nav-control{
    display: flex;
    /* flex: 1; */
    width: auto;
    height: 100%;
    justify-content: flex-end;
}
.control-btn{
    width: 40px;
    height: 100%;
    overflow: hidden;
    transition: all ease 0.1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: #d30000; */
}
.control-btn:hover{
    background-color: #ae0000;
    color: rgb(255, 255, 255);
}
.btn-danger:hover{
    background-color: #ff1100;
}
.body{
    flex: 1;
    width: 100%;
    min-width: 1000px;
    display: flex;
}
.body-main{
    width: 100%;
    /* height: 100%; */
    max-height: 530px;
    /* padding: 0; */
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    background-color: #ffffffda;
}
.bottom-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -20px;
    left: 0;
    filter: blur(1.5) brightness(0.5) !important;
    /* background: url(../image/bottom_bg.jpg); */
    /* background-image:url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/151d0d95-b330-4ca8-9de7-d0336aed9872.webp), url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/7dcebe46-805b-44b7-a96f-728dc9a2dbc5.jpg); */
    /* background-image: url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/dedf83f6-5313-4b83-bc49-2570d321e89c.webp), url(https://vkceyugu.cdn.bspapp.com/VKCEYUGU-a3e579e1-12c0-4985-8d49-3ab58c03387a/c3e29bb5-d5a0-4799-a544-264e310356aa.jpg); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    
}
/* class="arco-carousel-indicator-wrapper arco-carousel-indicator-wrapper-bottom" */
.arco-carousel-indicator-wrapper{
    height: 20px !important;
    display: none;
    width: 100%;
    background-color: #474747da !important;
}
.arco-carousel-indicator{
    bottom: 7px !important;
}
.arco-carousel-indicator-item{
    margin-right: 5px !important;
}
.arco-carousel-card{
    overflow: visible !important;
}
.left{
    position: relative;
    width: 550px;
    height: 100%;
}
.right{
    flex: 1;
    /* min-width: 300px; */
    position: relative;
}
.right-nav{
    width: 200px;
    min-width: 50px;
    height: 100%;
    background-color: rgb(237, 237, 237);
    box-shadow: 6px 0px 6px rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
    color: rgb(199, 199, 199) !important;
}
.logo{
    position: absolute;
    top: 10px;
    left: 40px;
    width: 180px;
    height: 90px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-main{
    position: absolute;
    top: 125px;
    left: 40px;
    width: 500px;
    height: 205px;
    border-radius: 5px;
    /* overflow: hidden; */
    background-color: #0052881d;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-img{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}
.arco-spin-loading{
    height: 90%;
}
.arco-spin{
    height: 100% !important;
}
.arco-spin-children{
    height: 100% !important;
}
.arco-carousel{
    height: 100% !important;
}
.arco-spin-tip{
    color: white !important;
}
.tips{
    width: 500px;
    /* height: 230px; */
    position: absolute;
    top: 340px;
    left: 40px;
    border-radius: 5px;
    background-color: rgba(45, 45, 45, 0.805);
}
.arco-tabs-header-title-active{
    color: #1a1a1a !important;
}
.arco-tabs-header-ink{
    background-color: #e10000 !important;
}
.arco-list-item{
    border: 0px !important;
    cursor: pointer;
    transition: all ease 0.3s;
    padding: 0 5px !important;
}
.arco-list-item:hover{
    background-color: rgb(211, 211, 211);
    color: #e10000;
}
.arco-list-item-content{
    /* color: white !important; */
    font-size: 17px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.arco-list{
    border: none !important;
}
.arco-drawer-header-title{
    font-size: 20px !important;
}
.arco-collapse-item-header{
    background-color: #4b4b4b !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.arco-collapse-item-content-box{
    font-size: 17px !important;
    padding: 10px 20px !important;
    max-height: 500px;
    overflow: scroll;
    width: 100%;
    word-break: break-all;
    box-sizing: border-box;
    user-select: text;
}
.arco-progress-line-outer{
    height: 8px !important;
}
.arco-notification-wrapper{
    /* position: relative; */
    top: 40px !important;
    right: 50px !important;
}
.tabPane{
    height: 210px;
    font-size: 24px;
    overflow: scroll;
}
.btn-group{
    position: absolute;
    width: 100%;
    /* height: 220px; */
    right: 10px;
    bottom: 0px;
}
.op-btn{
    position: absolute;
    bottom: 40px;
    right: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.subata-btn{
    position: absolute;
    bottom: 125px;
    right: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.openGame{
    width: 250px;
    height: 70px !important;
    font-size: 25px !important;
    color: rgb(255, 255, 255) !important;
    transition: all ease 0.3s;
    box-shadow: #2c2c2c 5px !important;
    /* border: 1px solid rgb(108, 108, 108) !important; */
}
/* .openGame:hover{
    font-size: 35px !important;
} */
.icon-container{
    width: 100%;
    height: 45px;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-drag: none;
    transition: all ease 0.2s;
    display: flex;
    color: #2c2c2c;
    /* flex-direction: column; */
    align-items: center;
    justify-content: start;
}
.icon-container:hover{
    background-color: #cecece;
    /* color: rgb(198, 0, 0); */
}
.icon-active{
    color: rgb(198, 0, 0);
}
.icon{
    width: 40px;
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-drag: none;
    border-radius: 50%;
}
.icon-content{
    font-size: 14px;
    /* writing-mode: vertical-lr; */
}
/* .icon:hover{
    background-color: rgb(50, 50, 50);
    transform:scale(1.1);
    background-color: #373737;
    border-radius: 50%;
    color: #ffffff !important;
} */
.icon-child{
    width: 20px !important; 
    height: 20px !important;
}
.zf-img{
    height: 600px;
    width: 400px;
    object-fit: cover;
}
.footer{
    height: 80px;
    width: 100%;
    background-color: #f1f3f4;
    /* border-top: 1px solid rgb(203, 203, 203); */
    display: flex;
    z-index: 999999;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 2px 4px rgb(162, 162, 162) ;
}
.footer audio{
    width: 100%;
}
