.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #505050;
    /* border: 3px solid rgb(45, 45, 45); */
}
.nav{
    width: 100%;
    height: 40px;
    display: flex;
    z-index: 100;
    background-color: #2c2c2c;
    position: relative;
    z-index: 1000000;
    /* background-color: rgb(40, 40, 40); */
}
.nav-logo{
    /* position: absolute; */
    left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 5px;
    box-sizing: border-box;
}
.nav-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-title{
    /* position: absolute; */
    left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding-left: 5px;
    color: white;
    flex: 1;
}
.nav-bottom{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
}
.nav-control{
    display: flex;
    /* flex: 1; */
    width: auto;
    height: 100%;
    justify-content: flex-end;
}
.control-btn{
    width: 70px;
    height: 100%;
    overflow: hidden;
    transition: all ease 0.1s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: #d30000; */
}
.control-btn:hover{
    background-color: #5b5b5b;
}
.btn-danger:hover{
    background-color: #ff1100;
}
.body{
    flex: 1;
    width: 100%;
    min-width: 1000px;
    display: flex;
}
.body-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.body-main-top{
    display: flex;
    width: 100%;
    flex: 1;
}
.body-main-bottom{
    width: 100%;
    height: 20px;
    /* background-color: #1c1c1c; */
    box-sizing: border-box;
    padding: 0 10px;
}
.bottom-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -20px;
    left: 0;
    filter: blur(1.5) brightness(0.5) !important;
    /* background: url(../image/bottom_bg.jpg); */
    background:url(../image//bottom_bg_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    
}
/* class="arco-carousel-indicator-wrapper arco-carousel-indicator-wrapper-bottom" */
.arco-carousel-indicator-wrapper{
    height: 20px !important;
    display: none;
    width: 100%;
    background-color: #474747da !important;
}
.arco-carousel-indicator{
    bottom: 7px !important;
}
.arco-carousel-indicator-item{
    margin-right: 5px !important;
}
.left{
    position: relative;
    width: 450px;
    height: 100%;
}
.right{
    flex: 1;
    /* min-width: 300px; */
    position: relative;
}
.right-nav{
    width: 80px;
    min-width: 50px;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.69);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
    color: rgb(199, 199, 199) !important;
}
.logo{
    position: absolute;
    top: 10px;
    left: 40px;
    width: 180px;
    height: 90px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-main{
    position: absolute;
    top: 125px;
    left: 40px;
    width: 350px;
    height: 205px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #0052881d;
    margin: 0 auto;
}
.carousel-img{
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}
.arco-spin-loading{
    height: 90%;
}
.arco-spin{
    height: 100% !important;
}
.arco-spin-children{
    height: 100% !important;
}
.arco-carousel{
    height: 100% !important;
}
.arco-spin-tip{
    color: white !important;
}
.arco-drawer{
    height: 95% !important;
}
.tips{
    width: 350px;
    /* height: 230px; */
    position: absolute;
    top: 340px;
    left: 40px;
    border-radius: 5px;
    background-color: rgba(45, 45, 45, 0.805);
}
.arco-tabs-header-title{
    color: white !important;
}
.arco-tabs-header-title-active{
    color: #ffca0a !important;
}
.arco-tabs-header-ink{
    background-color: #ffca0a !important;
}
.arco-tabs-header-wrapper{
    background-color: rgba(54, 54, 54, 0.831) !important;
}
.arco-tabs-content{
    overflow-y: scroll;
}
.arco-list-item{
    border: 0px !important;
    cursor: pointer;
    transition: all ease 0.3s;
}
.arco-list-item:hover{
    background-color: rgb(29, 29, 29);
}
.arco-list-item-content{
    /* color: white !important; */
    font-size: 17px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.arco-list{
    border: none !important;
}
.arco-drawer-header-title{
    font-size: 20px !important;
}
.arco-collapse-item-header{
    background-color: #4b4b4b !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.arco-collapse-item-content-box{
    font-size: 17px !important;
    padding: 10px 20px !important;
    max-height: 500px;
    overflow: scroll;
    width: 100%;
    word-break: break-all;
    box-sizing: border-box;
    user-select: text;
}
.arco-progress-line-outer{
    height: 8px !important;
}
.arco-notification-wrapper{
    /* position: relative; */
    top: 40px !important;
    right: 50px !important;
}
.tabPane{
    height: 210px;
    overflow: scroll;
}
.btn-group{
    position: absolute;
    width: 100%;
    /* height: 220px; */
    right: 10px;
    bottom: 0px;
}
.op-btn{
    position: absolute;
    bottom: 40px;
    right: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.subata-btn{
    position: absolute;
    bottom: 125px;
    right: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.openGame{
    width: 250px;
    height: 70px !important;
    font-size: 25px !important;
    color: rgb(255, 255, 255) !important;
    transition: all ease 0.3s;
    box-shadow: #2c2c2c 5px !important;
    /* border: 1px solid rgb(108, 108, 108) !important; */
}
/* .openGame:hover{
    font-size: 35px !important;
} */
.icon-container{
    width: 100%;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-drag: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.icon-container:hover{
    background-color: #464646;
}
.icon{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 4px;
    transition: all ease 0.4s;
    -webkit-user-drag: none;
    border-radius: 50%;
}
.icon-content{
    font-size: 13px;
    writing-mode: vertical-lr;
}
/* .icon:hover{
    background-color: rgb(50, 50, 50);
    transform:scale(1.1);
    background-color: #373737;
    border-radius: 50%;
    color: #ffffff !important;
} */
.icon-child{
    width: 100% !important; 
    height: 100% !important;
}
.zf-img{
    height: 600px;
    width: 400px;
    object-fit: cover;
}