.shakeBox{
    height: 80px;
    width: 100%;
	position: relative;
	top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shake{
    background-color: #5e5e5e;
    height: 90px;
    width: 90px;
    border-radius: 90px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.shake-body{
    position: relative;
    height: 100px;
    width: 100px;
    /* animation: shake 50s ease-in-out infinite; */
    /* cursor: pointer; */
	cursor: url(../image/cursor_mini.png),default;
    /* transform: translate(-5px,10px); */
    transition: all ease-in-out 0.3s;
    left: -5px;
    top: 5px;
}
.shake-body:hover{
    transform: translateY(-3px);
}
.bodyImg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.bodyImg-bg{
	position: absolute;
    left: -5px;
    top: -12px;
    height: 110px;
    width: 110px;
    object-fit: contain;
}
.shake-mask{
    position: absolute;
    top: 0;
    transform: translate(-5px,0);
    background: #58667f;
    box-shadow: 0 0 0 5px rgb(0 0 0 / 10%);
    /* cursor: pointer; */
	cursor: url(../image/cursor_mini.png),default;
    height: 300px;
    left: 0;
    position: absolute;
    top: -290px;
    transition: all 300ms ease;
    width: 120px;
    z-index: 1;
}
.shake-mask-close{
    top: -230px;
}
.shake-mask-text{
    font-size: 25px;
    color: rgb(221, 242, 255);
    position: absolute;
    bottom: 20px;
    left: 37px;
}
.shake-mask-switch{
    width: 30px;
    height: 5px;
    background-color: #8b8b8b;
    position: absolute;
    bottom: -3px;
    left: 35px;
    z-index: 10;
}
.shake-mask-bottom{
    background: #353e4de1;
    bottom: 0;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: 1;
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.58);
}
.emo{
    position: absolute;
    top: 40px;
    left: 35px;
    width: 30px;
}
.head-img-box{
	width: 110%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
	height: 300px;
	overflow: scroll;
}
@keyframes shake {
	2% {
		transform: translate(1px, -1px) rotate(-0.2deg);
	}

	4% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	6% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	8% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	10% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	12% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	14% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	16% {
		transform: translate(-1px, -1px) rotate(0.2deg);
	}

	18% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	20% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	22% {
		transform: translate(1px, -1px) rotate(0.2deg);
	}

	24% {
		transform: translate(-1px, 1px) rotate(-0.2deg);
	}

	26% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	28% {
		transform: translate(-1px, -1px) rotate(-0.2deg);
	}

	30% {
		transform: translate(1px, -1px) rotate(-0.2deg);
	}

	32% {
		transform: translate(1px, -1px) rotate(0.2deg);
	}

	34% {
		transform: translate(1px, 1px) rotate(-0.2deg);
	}

	36% {
		transform: translate(1px, -1px) rotate(0.2deg);
	}

	38% {
		transform: translate(1px, -1px) rotate(-0.2deg);
	}

	40% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	42% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	44% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	46% {
		transform: translate(1px, -1px) rotate(-0.2deg);
	}

	48% {
		transform: translate(1px, -1px) rotate(0.2deg);
	}

	50% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	52% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	54% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	56% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	58% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	60% {
		transform: translate(1px, -1px) rotate(0.2deg);
	}

	62% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	64% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	66% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	68% {
		transform: translate(1px, -1px) rotate(0.2deg);
	}

	70% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	72% {
		transform: translate(-1px, -1px) rotate(0.2deg);
	}

	74% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	76% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	78% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	80% {
		transform: translate(-1px, 1px) rotate(-0.2deg);
	}

	82% {
		transform: translate(-1px, 1px) rotate(-0.2deg);
	}

	84% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	86% {
		transform: translate(1px, 1px) rotate(0.2deg);
	}

	88% {
		transform: translate(-1px, 1px) rotate(0.2deg);
	}

	90% {
		transform: translate(-1px, -1px) rotate(-0.2deg);
	}

	92% {
		transform: translate(-1px, -1px) rotate(0.2deg);
	}

	94% {
		transform: translate(1px, 1px) rotate(-0.2deg);
	}

	96% {
		transform: translate(1px, -1px) rotate(-0.2deg);
	}

	98% {
		transform: translate(-1px, -1px) rotate(-0.2deg);
	}

	0%, 100% {
		transform: translate(0, 0) rotate(0);
	}
}
